@model BYUArchaeologyEgypt.Models.BiologicalSample

@{
    ViewData["Title"] = "BiologicalSampleDetails";
}

<h1>BiologicalSampleDetails</h1>

<div>
    <h4>BiologicalSample</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Burial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Burial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RackNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RackNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BagNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BagNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClusterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClusterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFound)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFound)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviouslySampled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviouslySampled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Initials)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Initials)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C14_2017)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C14_2017)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConventionalC14Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConventionalC14Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C14CalendarDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C14CalendarDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarDateMAX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarDateMAX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarDateMIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarDateMIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarDateSPAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarDateSPAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalendarDateAVG)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalendarDateAVG)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Researcher"))
    {<a asp-action="BiologicalSampleEdit" asp-route-bsid="@Model.SampleId">Edit</a> <text> | </text>}
    <a asp-action="Index">Back to List</a>
</div>
