@model IEnumerable<BYUArchaeologyEgypt.Models.Location>

@{
    ViewData["Title"] = "LocationList";
}

<h1>LocationList</h1>

<p>
    <a asp-action="LocationCreate">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BurialLocationNS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BurialLocationEW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowPairNS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighPairNS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowPairEW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighPairEW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subplot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLocationNS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BurialLocationEW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowPairNS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighPairNS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowPairEW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighPairEW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subplot)
            </td>
            <td>
                @if (User.IsInRole("Researcher"))
                {<a asp-action="LocationEdit" asp-route-lid="@item.LocationId">Edit</a><text> |</text>}
                <a asp-action="LocationDetails" asp-route-lid="@item.LocationId">Details</a> |
                @if (User.IsInRole("Admin"))
                {<a asp-action="LcoationDelete" asp-route-lid="@item.LocationId">Delete</a>}
            </td>
        </tr>
}
    </tbody>
</table>
