@model IEnumerable<BYUArchaeologyEgypt.Models.Location>

@{
    ViewData["Title"] = "LocationList";
}

<h1>List of Locations</h1>

<div class="font-weight-bold">
    <table class="table textBack text-center">

        <!--
            The following is setting the names of the columns
        -->

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BurialLocationNS)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LowPairNS)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.HighPairNS)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.BurialLocationEW)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.LowPairEW)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.HighPairEW)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Subplot)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody class="table-bordered">

            <!--
                The following for each loop will populate the table with data 
             -->

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BurialLocationNS)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LowPairNS)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HighPairNS)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BurialLocationEW)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.LowPairEW)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HighPairEW)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Subplot)
                </td>

                <td class="w-25">
                    <a asp-action="BurialList" class="btn buttonBack ml-1 btn-sm mt-1">View Burials</a>
                </td>
            </tr>
            }
        </tbody>
    </table>

    <!--
        The following div is for pagination
    -->

    <div page-location-info="@Model.PageNumberingInfo" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-dark"
     class="btn-group pull-right m-1">
</div>
</div>
3